* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font: 100%/1.5 sans-serif;
}

#status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#status > * {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(9, 1.5rem);
    gap: 1px;

    padding: 2px;
    border: 1px solid;
    border-radius: 3px;
}

#board button {
    max-width: 1.5rem;
    max-height: 1.5rem;
    height: 1.5rem;

    background: #bbb;
    border: 2px solid #eee;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

#board button.number {
    font-size: 1.2rem;
}

#board button.mine {
    font-size: 1rem;
    line-height: 1rem;
}

#board button.revealed {
    background: #ddd;
    border: none;
    cursor: initial;
}

#board button.flagged {
    background: #bbb;
    border: 2px solid #eee;
    color: red;
}

#board button.mine, #board button.flagged {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mine-hit {
    background: red !important;
    color: white;
}

.misflagged {
    background: #fdd;
    color: red;
}

.n1 { color: blue; }
.n2 { color: green; }
.n3 { color: red; }
.n4 { color: darkblue; }
.n5 { color: brown; }
.n6 { color: cyan; }
.n7 { color: black; }
.n8 { color: gray; }